body {
  
  width:100%;
  text-align: center;
  
}
h1{
	margin-right:28px;
	padding-top:10px;
	font-size:45px;
	font-weight:bold;
	color:red;
}
.btn{
display:inline-block;
background-color:red;
color:white;
height:35px;
width:170px;
padding:10px 20px;
border-radius:5px;
margin-left:10px;
text-decoration:none;
font-weight:bold;
transition:background-color 0.3s;
}
.btn:hover{
background-color:green;
}
p{
	color:black;
	font-weight:bold;
}
h2{
	color:black;
	font-size:28px;
	font-weight:bold;
}
button{
border-radius:15px;
margin-right:50px;
height:45px;
width:200px;
font-size:20px;
background-color:transparent;
border-color:white;
background-color:red;
}
a{
	font-weight:bold;
	font-size:25px;
color:white;	
}
